<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- KaTeX -->
    <link rel="stylesheet" href="{{prefisso}}lib/katex.min.css">
    <script src="{{prefisso}}lib/katex.min.js"></script>
    <script src="{{prefisso}}lib/auto-render.min.js"></script>

    <!-- HighlightJS -->
    <link rel="stylesheet" href="{{prefisso}}lib/school-book.css">
    <script src="{{prefisso}}lib/highlight.pack.min.js"></script>

    <!-- Online Python Tutor -->
    <!--script type="text/javascript" src="http://pythontutor.com/build/pytutor-embed.bundle.js" charset="utf-8"></script-->
    <script type="text/javascript" src="{{prefisso}}lib/pytutor-embed.bundle.js" charset="utf-8"></script>

    <title>{{titolo}}</title>

    <style>
        tr,
        td {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>

<body>